# Ignore bundler config.
/.bundle

# Ignore git and github  directories
/.git/
/.github/

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Ignore environment file
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore test files
/spec/

# Ignore Dockerfile
Dockerfile
